.Angel{
    color: blueviolet;
    font-size: x-large;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
}
.Benedicta{
 background-color: rgb(199, 167, 167);
 color: #fff;
}

.ban-nav li{
 list-style-type: none;
 color: #fff;
}