.Angel{
    color: blueviolet;
    font-size: x-large;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
}
.Benedicta{
 background-color: rgb(199, 167, 167);
 color: #fff;
}

.ban-nav li{
 list-style-type: none;
 color: #fff;
}

.Bungwon h1{
    font-size: 50px;
}
.Bungwon button{
    border-radius: 20px;
    font-size: 15px;
}

.hb-header{
 background-color: rgb(42, 42, 83);
 color: white;
 padding: 5%;
}

.fiyin-header{
    font-family: sans-serif;
    color: black;
    font-size: large;
    
}
.banner-section {
    height: 300px;
    display: flex;
    background-color: #fff;
    margin-top: 200px;
  }
.jamz{
    background-color: rgb(83, 83, 227);
    font-family:Tahoma;
}
.gds{
    background-color: aqua;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Awesome079{
    background-color: blue;
    color: black;
}

.lily-text {
  padding: 20px;
  background-color: blueviolet;
  color: white;
}
.text gilead{
    
    font-size: 40px;
    background-color: aqua;
}
