.Angel{
    color: blueviolet;
    font-size: x-large;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
}
.Benedicta{
 background-color: rgb(199, 167, 167);
 color: #fff;
}

.ban-nav li{
 list-style-type: none;
 color: #fff;
}

.Bungwon h1{
    font-size: 50px;
}
.Bungwon button{
    border-radius: 20px;
    font-size: 15px;
}

.hb-header{
 background-color: rgb(42, 42, 83);
 color: white;
 padding: 5%;
}

.fiyin-header{
    font-family: sans-serif;
    color: black;
    font-size: large;
    
}